@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:#694ff6;
    background-image: url(bg.jpg);
    color: white;
    margin: 0px;
    height: auto;
    width: auto;
}

html,

.box {
    text-align: center;
    /* margin-left: 12px;
    margin-right: 12px; */
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row.header {
    padding-bottom: 32px;
    padding-top: 30px;
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  margin-top: auto;
}

p {
    margin: 0;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
    margin: 0;
}

.pfp {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.link-box{
    padding-bottom: 16px;
}

.box-link:link, .box-link:visited {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    color:#18254e;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    height: auto;
    width: 90%;
    max-width: 680px;
    transition: 0.2s ease;
  }

  
.box-link:hover, .box-link:active {
    background-color: transparent;
    color:white;
    box-sizing: border-box;
    -webkit-box-shadow:inset 0px 0px 0px 3px white;
    -moz-box-shadow:inset 0px 0px 0px 3px white;
    box-shadow:inset 0px 0px 0px 3px white;
  }


#daily-images {
  box-shadow: 20px 10px 15px rgba(0, 0, 0, 0.623);
}

* {
  box-sizing: border-box;
  box-align: center;
}

.di-column {
  width: 33.33%;
  float: left;
  padding-bottom: 32px;
}

.di-row {
  padding-left: 5%;
  padding-right: 5%;
}

.di-row::after {
  content: "";
  clear: both;
  display: table;
}